
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
	font-family: Epilogue, Epilogue-fallback, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-weight: 400;
	color: rgb(55, 53, 47);
  /* color: #777;
  font-size: 1.6rem; */
  box-sizing: border-box;
}

.app {
	min-height: 100svh;
	background-color: #F8F0E5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
}

.heading {
	color: #0F2C59;
	padding: 20px 0;
	font-weight: 600;
	font-size: 2rem;
	/* background-color: blue; */
}

.form {
	align-self: stretch;
	display: flex;
}

.input {
	flex-grow: 1;
	flex-shrink: 1;
	outline: none;
	border: none;
	padding: 4px;
	border-radius: 4px;
	font: inherit;
}

.input::placeholder {
	font: inherit;
	color: #aaa6a6
}

.button {
	margin-left: 0.5rem;
	flex-shrink: 0;
	font: inherit;
	/* outline: none; */
	border: none;
	background-color: #22668D;
	color: #fff;
	padding: 4px;
	border-radius: 4px;	
}