.root {
	margin-top: 1rem;
	color: #0F2C59;
}

.container {
	max-width: 100%;
	display: flex;
	/* justify-content: center; */
	flex-wrap: wrap;
}

.container img {
	width: 6rem;
	padding: 1rem;
	flex-basis: 5rem;
}